body {
    font-family: Consolas, 'Courier New', monospace;
}

#navbar {
    background: #181818 !important;
}

#sidebar {
    background: #181818 !important;
}

#sidebar #selected {
    background: #323232 !important;
}

#profile {
    width: 150px;
    height: 150px;
}

body {
    background: #1f1f1f;
}

/* Style code part */
ol { 
    counter-reset: item;
    list-style-type: none;
}
li { display: block; }
li:before { 
    content: counter(item) "  "; 
    counter-increment: item;
    color: #6e7681; 
}

/* Python Colors */
.variable {
    color: #9cdcfe;
}

.sign {
    color: #d4d4d4;
}

.string {
    color: #ce9178;
}

/* HTML Colors */
.tag {
    color: #569cd6;
}

.attr {
    color: #9cdcfe;
}

.sub-sign {
    color: #80807a;
}

/* Tabs for code */
.tab-1 {
    margin-left: 1rem;
}

.tab-2 {
    margin-left: 2rem;
}

.tab-3 {
    margin-left: 3rem;
}

.tab-4 {
    margin-left: 4rem;
}

.tab-5 {
    margin-left: 5rem;
}