#navbar {
    background: #181818 !important;
}

#sidebar {
    background: #181818 !important;
}

#sidebar #selected {
    background: #323232 !important;
}

#profile {
    width: 200px;
    height: 200px;
}

body {
    background: #1f1f1f;
}

/* Style code part */
ol { 
    counter-reset: item;
    list-style-type: none;
}
li { display: block; }
li:before { 
    content: counter(item) "  "; 
    counter-increment: item;
    color: #6e7681; 
}

.variable {
    color: #9cdcfe;
}

.sign {
    color: #d4d4d4;
}

.string {
    color: #ce9178;
}