{% extends "resume/layout.html" %}

{% load static %}

{% block body %}
    <div class="row d-flex align-content-stretch text-white">
        <div id="sidebar" class="col-3 sidebar p-0">
            <div id="selected" class="border border-info d-flex justify-content-center py-3">
                <img id="profile" src="{% static 'resume/profile.png' %}" class="rounded-circle" alt="Profile Picture">
            </div>
            <div>
                <p class="m-1">
                    <i class="fa-solid fa-chevron-down" style="color: #ffffff;"></i>
                    CONTACT
                </p>
            </div>
            <div>
                <p class="m-1">
                    <i class="fa-regular fa-envelope" style="color: #e94234;"></i>
                    mohammaddalien2003@gmail.com
                </p>
            </div>
            <div>
                <p class="m-1">
                    <i class="fa-solid fa-mobile-screen"></i>
                    +966534785904
                </p>
            </div>
            <div>
                <p class="m-1">
                    <i class="fa-solid fa-location-dot" style="color: #ffffff;"></i>
                    Riyadh, Saudi Arabia
                </p>
            </div>
            <div>
                <p class="m-1">
                    <i class="fa-brands fa-linkedin-in" style="color: #ffffff;"></i>
                    linkedin.com/in/mohammad-daleen-b43799285
                </p>
            </div>
        </div>
        <div id="main" class="col-9">
        </div>
    </div>
{% endblock %}